/* Описание основных цветов приложения */
$background-color: #f0f0f0;

$note-bg-color: #fff;
$note-bg-hover-color: #f1f1f1;
$note-title-color: #0f0f0f;

$note-border-color: #d9d9d9;
$note-add-border-color: #929292;
$note-add-small-color: #989898;
$note-add-small-hover-color: #797979;

$text-color: #000;
$description-color: #898989;
$title-color: #060606;